@charset "utf-8";

@-ms-viewport {width: device-width;}

.body {
  font-family: '游ゴシック','Yugothic', 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
  background-color: #ff1111;
}

#titlelogo{
  height: 70px;
  width: auto;
  margin-left: -2%;
}


#topboxes{
  top:0px;
  left:0px;
  width: 100%;
  height: auto;
}

.topbox{
  margin-top : 5%;
  margin-bottom: 5%;
  margin-left : 15%;
  margin-right: 15%;
  border-radius: 20px;
}
.topbox > h1{
  text-align: center;
}
.topbox > p{
  text-align: center;
}


.ggmap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.ggmap iframe,
.ggmap object,
.ggmap embed {
  padding-left: 5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
}
